#.env.example
DATABASE_URL=postgresql://postgres.xxxx:password@xxxx.pooler.supabase.com:5432/postgres
TELEGRAM_BOT_TOKEN=123456:ABC-DEF
GROQ_API_KEY=gsk_xxxx
CRON_AUTH_TOKEN=genera-un-token-largo-aleatorio
ALLOWED_USER_IDS=123456789
PORT=8000